.doc {
    border: 1px solid #888888;
    max-width: 500px;
    height: 50px;
    box-shadow: 4px 4px 5px #888888;
    line-height: 50px;
    padding-left: 1em;
    margin-bottom: 30px;
}

#fileUpload {
    opacity: 0;
    width: 120px;
    height: 36px;
    position: relative;
    right: 128px;
    bottom: 6px;
    cursor: pointer !important;
}

.fileUpdate {
    position: absolute;
    opacity: 0;
    width: 90px;
    height: 30px;
    left: 0;
    top: 64px;
}

.operation {
    background-color: #f0f0f0;
    z-index: 2;
    position: absolute;
    width: 90px;
    border: 1px solid #b0b0b0;
    line-height: 30px;
    box-shadow: 2px 2px 2px #a0a0a0;
    left: -45px;
}

.operation a {
    padding: 10px 15px;
    display: block;
}

.opt {
    position: relative;
}

.tip {
    cursor: pointer;
}

.operation a:hover, .operation form:hover {
    background-color: #80bdff;
}

.ui.vertical.menu:hover {
    background-color: #80bdff !important;
}

.ui.vertical.menu {
    border-radius: 0;
    width: 88px;
    background-color: #f0f0f0;
    border: none;
    margin: 0;
    padding: 0;
    border-color: #f0f0f0;
}